html {
  box-sizing: border-box;
}
/**, *:before, *:after {
  box-sizing: inherit;
}*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.container {
    max-width: 1080px;
    width:  90%;
    height: 100%;
    margin: 0 auto;
    clear:both;
/*    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
*/	/*padding:7px;*/
}

body{
	background-color: #252222;	
}

.portfolio {
	height:2100px;
	padding:10px;
	color:#ffffff;
	background-color: #5ba588;
	text-align: center;
}

.navigationBar{
	height: 60px;
	padding:20px;
	text-align: center;
	background-color: #252222;
}

.banner{
    width: 100%;
    height: 300px;
    background: url("header.jpg");
    background-size: cover;
}

.imagesContainer{
	padding: 20px;
}

.about{
	padding:100px;
	height:300px;
	color:#ffffff;
	background-color: #252222;
}

.about_img{
	float: left;
	margin-right: 40px;
	display: inline;
}

.pageFooter{
	background: url("footer_bg.jpg") no-repeat;
	background-size:100%;
	width: 100%;
}

.footerContent{
	height: inherit;
	text-align: center;
	padding: 20px;
}


.emailLink {
 	display: inline-block;
 	text-decoration: none;
 	padding: 12px;
 	width: 300px;
 	border: 3px solid #ffffff;
 	border-radius: 6px;
 	color: #ffffff;
 	text-align: center;
 	font-size: 15pt;
}
.emailLink:hover {
	color:#232323;
	text-decoration: none;
	border: 3px solid #ffd800;
	background-color: #ffd800;
    text-decoration: none;
}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}


h1{
	font-family: "Rufina";
	font-size: 20px;
	text-align: center;
}

section div img{
	box-sizing:inherit;
}

p{
	font-family: "Open Sans";
	font-size:12pt;
}

nav ul li{
	display: inline-block;
} 

nav ul li a{
	font-family: "Open Sans";
	font-weight: bold;
	text-decoration: none;
	color:#ffffff;
}

nav ul li a:hover{
	text-decoration: underline;
	color:#5ba588;
}

header img{
	margin-bottom: -4px;
	width:100%;
}

footer{
	color:#ffffff;
}

footer p{
	margin: 10px;
}

footer ul li{
	display: inline-block;
	list-style:  none;
	padding-right: 40px;
	background: none;
}

footer ul li a{
	color:#ffffff;
}

footer ul li a:hover{
	text-decoration: underline;
	color:#fdd800;
}
